<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
Team Name: <%=@name%><br/>
Coach: <%=@coach%><br/>
Point Guard: <%=@point_guard%><br/>
Power Forward: <%=@power_forward%><br/>
Shooting Guard: <%=@shooting_guard%><br/>
Center: <%=@center%><br/>
</body>
</html>
